html {
    height: 100%;
    background-image: linear-gradient(180deg, rgb(49, 49, 49), rgb(71, 71, 71), rgb(22, 22, 22));
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white
}

.clock {
    text-align: center;
    perspective: 1000px;
    display: flex;
    flex-direction: row;
}

.card {
    display: block;
    margin: 5px;
    width: 2cm;
    height: 2cm;
    text-align: center;
    font-size: 4em;
}

#title {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}