html
{
        border: 2px solid red;
}
body
{
    border:2px solid blue;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EEE;
}
.clock 
{
  border:2px solid rgb(116, 116, 0);
  text-align: center;
  perspective: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.card
{
    border: 2px solid brown;
    display: block;
    margin: 5px;
    width: 2cm;
    height: 2cm;
    text-align: center;
    font-size:4em;
}

